:root {
  --mainColor: #1b1b25;
  --border: #e8491d;
  --white: #ffffff;
  --black: black;
  --background: #efefef;
  --success: #43ac6a;
  --pink: #df7683;
  --purple: #a89cc8;
  --transparent: rgba(247, 247, 247, 0.95);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 17pt;
  font-weight: 300;
  line-height: 1.65;
  background: var(--background);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}